<div class="sign-up-form">
	 <h3 class="tittle">Registration <i class="glyphicon glyphicon-file"></i></h3>
		<p>Having hands on experience in creating innovative designs,I do offer design 
			solutions which harness</p>
	<div class="sign-up">
	    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	        <%= devise_error_messages! %>
    		<h3 class="tittle reg">Personal Information <i class="glyphicon glyphicon-user"></i></h3>
    		<div class="sign-u">
    			<div class="sign-up1">
    				<h4 class="a">First Name:</h4>
    			</div>
    			<div class="sign-up2">
    				<%= f.text_field :first_name, autofocus: true, value: "First Name", class: "text", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'First Name';}"  %>
    			</div>
    			<div class="clearfix"> </div>
    		</div>
    		<div class="sign-u">
    			<div class="sign-up1">
    				<h4 class="b">Last Name:</h4>
    			</div>
    			<div class="sign-up2">
    				<%= f.text_field :last_name, autofocus: true, value: "Last Name", class: "text", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Last Name';}"  %>
    			</div>
    			<div class="clearfix"> </div>
    		</div>
    		
    		<h3 class="tittle reg">Login Information <i class="glyphicon glyphicon-off"></i></h3>
    		
    		<div class="sign-u">
    			<div class="sign-up1">
    				<h4 class="c">Email Address* :</h4>
    			</div>
    			<div class="sign-up2">
    			    <%= f.text_field :email, autofocus: true, value: "Email Address", class: "text", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Email Address';}"  %>
    			</div>
    			<div class="clearfix"> </div>
    		</div>
    		 
    		<div class="sign-u">
    			<div class="sign-up1">
    				<h4 class="d">Password* :</h4> 
    				<% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %>
    			</div>
    			<div class="sign-up2">
                    <%= f.password_field :password, autocomplete: "off", class: "Password", value: "Password", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Password';}" %>
    			</div>
    			<div class="clearfix"> </div>
    		</div>
    		<div class="sign-u">
    			<div class="sign-up1">
    				<h4>Confirm Password* :</h4>
    			</div>
    			<div class="sign-up2">
    			    <%= f.password_field :password_confirmation, autocomplete: "off", class: "Password", value: "Confirm Password", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Confirm Password';}", class: "Password", value: "Password", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Password';}" %>
    			</div>
    			<div class="clearfix"> </div>
    		</div>
    		<!--<input type="submit" value="Submit">-->
    		<%= f.submit "Sign up" %>
		<% end %>
		<%= render "devise/shared/links" %>
	</div>
</div>